# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.po
*.tmp
build/
dist/
*.egg-info/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
venv/
env/
.pytest_cache/

# Конфиги
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db

# База данных
task_manager.db


# Личные заметки и тесты
console_ui.py
main.py
parser.py
add_cards.py
populate_cards.py
project_journal.md
database.py
web.py

# Веб-файлы
/templates/